<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @cliente.full_name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @cliente.pais %>
</p>

<p>
  <strong>Trabalha:</strong>
  <%= @cliente.trabalha %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @cliente.salario %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>End num:</strong>
  <%= @cliente.end_num %>
</p>

<p>
  <strong>End compl:</strong>
  <%= @cliente.end_compl %>
</p>

<p>
  <strong>End bairro:</strong>
  <%= @cliente.end_bairro %>
</p>

<p>
  <strong>End cidade:</strong>
  <%= @cliente.end_cidade %>
</p>

<p>
  <strong>End estado:</strong>
  <%= @cliente.end_estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
