<%= form_for(orcamento) do |f| %>
  <% if orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% orcamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div clas="row">
<h3 color="red"> <strong>Seu veículo merece esta proteção!</strong></h3>
<div class="col-md-3">
  <%= fa_icon "car 4x" %>
</div>
<div class="col-md-3">
  <%= fa_icon "motorcycle 4x" %>
</div>
<div class="col-md-3">
  <%= fa_icon "truck 4x" %>
</div>
<div class="col-md-3">
  <%= fa_icon "ship 4x"  %>
</div>

</div>
  <h4> Oi, a gente quer conhecer você melhor, é rapidinho </h4>
  <strong> menos de 1 minutinho </strong>
           

  <div class="field">
    Meu nome é   <%= f.text_field :cli_name , class: "form_input-text" , placeholder: "nome", required: true %>
    </div>
  <div class="field">

    Se a <strong>Cote Auto</strong> precisar falar comigo, pode me ligar no : <%= f.telephone_field :cli_tel , class: "form_input-text", placeholder: "(XX) XXXX-XXXX" , required: true %>
  </div>
  <div class="field">

  ou mandar um e-mail para <%= f.email_field :cli_email , class: "form_input-text" , placeholder: "nome@email.com" , required: true%>

  </div>

  <div class="actions ">
    <%= f.submit 'Continuar', :class => 'btn btn-primary' %>
  </div>
<% end %>
