<p id="notice"><%= notice %></p>

<p>
  <strong>Cli name:</strong>
  <%= @orcamento.cli_name %>
</p>

<p>
  <strong>Cli email:</strong>
  <%= @orcamento.cli_email %>
</p>

<p>
  <strong>Cli tel:</strong>
  <%= @orcamento.cli_tel %>
</p>

<p>
  <strong>Cli cpf:</strong>
  <%= @orcamento.cli_cpf %>
</p>

<p>
  <strong>Cli pais:</strong>
  <%= @orcamento.cli_pais %>
</p>

<p>
  <strong>Cli trab:</strong>
  <%= @orcamento.cli_trab %>
</p>

<p>
  <strong>Cli salario:</strong>
  <%= @orcamento.cli_salario %>
</p>

<p>
  <strong>Cli sexo:</strong>
  <%= @orcamento.cli_sexo %>
</p>

<p>
  <strong>Cli cep:</strong>
  <%= @orcamento.cli_cep %>
</p>

<p>
  <strong>Cli end:</strong>
  <%= @orcamento.cli_end %>
</p>

<p>
  <strong>Cli end number:</strong>
  <%= @orcamento.cli_end_number %>
</p>

<p>
  <strong>Cli end compl:</strong>
  <%= @orcamento.cli_end_compl %>
</p>

<p>
  <strong>Cli end cidade:</strong>
  <%= @orcamento.cli_end_cidade %>
</p>

<p>
  <strong>Cli end bairro:</strong>
  <%= @orcamento.cli_end_bairro %>
</p>

<p>
  <strong>Vei tipo:</strong>
  <%= @orcamento.vei_tipo %>
</p>

<p>
  <strong>Vei marca:</strong>
  <%= @orcamento.vei_marca %>
</p>

<p>
  <strong>Vei veiculo:</strong>
  <%= @orcamento.vei_veiculo %>
</p>

<p>
  <strong>Vei modelo ano:</strong>
  <%= @orcamento.vei_modelo_ano %>
</p>

<p>
  <strong>Vei preco:</strong>
  <%= @orcamento.vei_preco %>
</p>

<p>
  <strong>Vei tipo uso:</strong>
  <%= @orcamento.vei_tipo_uso %>
</p>

<p>
  <strong>Vei placa:</strong>
  <%= @orcamento.vei_placa %>
</p>

<%= link_to 'Edit', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Back', orcamentos_path %>
