<%= form_for @orcamento, :url => wizard_path do |f| %>

  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% @orcamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= yield f %>
<div class="button" >
<%= link_to 'voltar', previous_wizard_path  %>
</div>
<div class="button">
  <%= f.submit  "Próximo passo" , :class => 'btn btn-primary' %>
</div>


<%end%>