<div class="row" >

	<div id="header" class="row">
		<h2> Essa é a parte mais legal: <br>
		bora deixar o seguro com a sua cara?</h2>

		<%= render layout: 'form' do |f| %>
<%= f.hidden_field :current_step , :value => "select_seg" %>

		<h3>Seu carro está avaliado em R$ <span class ="destaque" ><%= number_with_precision(f.object.vei_preco, :precision => 2)  %> </span> </h3>
	</div>
			
	
	<div class="row text-center"> 
		<h3>A Melhor Cotação Ficou na </h3> 
		<%= image_tag('/images/seguro.png') %>
		<h4>Maior e mais completa associação do Brasil<br>
			Escolha as coberturas iniciais e continue personalizando sua proteção </h4>
	</div>
<br>

	<div  class="row text-center">
		
		<% if (f.object.vei_tipo == 'Carros' && f.object.vei_nacionalidade == 'Nacional') %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel text-center price-panel panel-blue">
            <div class="panel-heading">
              <h4>BÁSICO</h4>
            </div>
            <div class="panel-body">
              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_silver, :precision => 2) %> / mês</strong></p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-check text-success"></i> Roubo, Furto, Incêndio</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>

            </ul>
            <div class="panel-footer">
				<label class="btn btn-lg btn-block btn-primary">
					<%= f.radio_button  :seguro_plan,  "BÁSICO", class: 'hidden' %> Selecione
				</label>            
			</div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel text-center price-panel panel-warning">
            <div class="panel-heading">
              <h4>GOLD</h4>
            </div>
            <div class="panel-body">
              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_default, :precision => 2) %> / mês</strong></p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-check text-success"></i> Roubo, Furto, Incêndio</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
            </ul>
            <div class="panel-footer">
				<label class="btn btn-lg btn-block btn-warning">
					<%= f.radio_button  :seguro_plan,  "default", class: 'hidden' %> Selecione
				</label>            
			</div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	         <div class="panel text-center price-panel panel-red">
	            <div class="panel-heading">
	              <h4>VIP</h4>
	            </div>
	            <div class="panel-body">
	              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_pro, :precision => 2) %> / mês</strong></p>
	            </div>
	            <ul class="list-group">
	              <li class="list-group-item"><i class="fa fa-check text-success"></i> Roubo, Furto, Incêndio</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
	            </ul>
	            <div class="panel-footer">
					<label class="btn btn-lg btn-block btn-danger">
						<%= f.radio_button  :seguro_plan,  "pro", class: 'hidden' %> Selecione
					</label>            
				</div>
    		</div>

		</div>

		<% elsif  (f.object.vei_tipo == 'Carros' && f.object.vei_nacionalidade == 'Importado') %>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel text-center price-panel panel-blue">
            <div class="panel-heading">
              <h4>BÁSICO</h4>
            </div>
            <div class="panel-body">
              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_silver, :precision => 2) %> / mês</strong></p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-check text-success"></i> Roubo, Furto, Incêndio</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>

            </ul>
            <div class="panel-footer">
				<label class="btn btn-lg btn-block btn-primary">
					<%= f.radio_button  :seguro_plan,  "BÁSICO", class: 'hidden' %> Selecione
				</label>            
			</div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel text-center price-panel panel-warning">
            <div class="panel-heading">
              <h4>GOLD</h4>
            </div>
            <div class="panel-body">
              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_default, :precision => 2) %> / mês</strong></p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-check text-success"></i> Roubo, Furto, Incêndio</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
            </ul>
            <div class="panel-footer">
				<label class="btn btn-lg btn-block btn-warning">
					<%= f.radio_button  :seguro_plan,  "default", class: 'hidden' %> Selecione
				</label>            
			</div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	         <div class="panel text-center price-panel panel-red">
	            <div class="panel-heading">
	              <h4>VIP</h4>
	            </div>
	            <div class="panel-body">
	              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_pro, :precision => 2) %> / mês</strong></p>
	            </div>
	            <ul class="list-group">
	              <li class="list-group-item"><i class="fa fa-check text-success"></i> Roubo, Furto, Incêndio</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
	            </ul>
	            <div class="panel-footer">
					<label class="btn btn-lg btn-block btn-danger">
						<%= f.radio_button  :seguro_plan,  "pro", class: 'hidden' %> Selecione
					</label>            
				</div>
    		</div>

		</div>

		<% elsif (f.object.vei_tipo == 'Motos') %>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel text-center price-panel panel-blue">
            <div class="panel-heading">
              <h4>BÁSICO</h4>
            </div>
            <div class="panel-body">
              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_silver, :precision => 2) %> / mês</strong></p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros R$20.000,00</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>

            </ul>
            <div class="panel-footer">
				<label class="btn btn-lg btn-block btn-primary">
					<%= f.radio_button  :seguro_plan,  "BÁSICO", class: 'hidden' %> Selecione
				</label>            
			</div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel text-center price-panel panel-warning">
            <div class="panel-heading">
              <h4>GOLD</h4>
            </div>
            <div class="panel-body">
              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_default, :precision => 2) %> / mês</strong></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros R$20.000,00</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
            </ul>
            <div class="panel-footer">
				<label class="btn btn-lg btn-block btn-warning">
					<%= f.radio_button  :seguro_plan,  "default", class: 'hidden' %> Selecione
				</label>            
			</div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	         <div class="panel text-center price-panel panel-red">
	            <div class="panel-heading">
	              <h4>VIP</h4>
	            </div>
	            <div class="panel-body">
	              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_pro, :precision => 2) %> / mês</strong></p>
	            </div>
	            <ul class="list-group">
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Cobertura a Terceiros R$20.000,00</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
	            </ul>
	            <div class="panel-footer">
					<label class="btn btn-lg btn-block btn-danger">
						<%= f.radio_button  :seguro_plan,  "pro", class: 'hidden' %> Selecione
					</label>            
				</div>
    		</div>

		</div>

		<% elsif (f.object.vei_tipo == 'Caminhões') %>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel text-center price-panel panel-warning">
            <div class="panel-heading">
              <h4>GOLD</h4>
            </div>
            <div class="panel-body">
              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_default, :precision => 2) %> / mês</strong></p>
            </div>
            <ul class="list-group">
	          <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200km ( 4 x )</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
            </ul>
            <div class="panel-footer">
				<label class="btn btn-lg btn-block btn-warning">
					<%= f.radio_button  :seguro_plan,  "default", class: 'hidden' %> Selecione
				</label>            
			</div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	         <div class="panel text-center price-panel panel-red">
	            <div class="panel-heading">
	              <h4>VIP</h4>
	            </div>
	            <div class="panel-body">
	              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_pro, :precision => 2) %> / mês</strong></p>
	            </div>
	            <ul class="list-group">
		          <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Perca Total</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Colisão – Qualquer Batida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência 24h 200Km ( 4 x )</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Algamento</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assitência Jurídica</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
	            </ul>
	            <div class="panel-footer">
					<label class="btn btn-lg btn-block btn-danger">
						<%= f.radio_button  :seguro_plan,  "pro", class: 'hidden' %> Selecione
					</label>            
				</div>
    		</div>

		</div>

		<% elsif (f.object.vei_tipo == 'Nautica') %>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-offset-4">
	          <div class="panel text-center price-panel panel-warning">
	            <div class="panel-heading">
	              <h4>GOLD</h4>
	            </div>
	            <div class="panel-body">
	              <p class="lead big-lead"><strong>R$ <%= number_with_precision(f.object.seguro_preco_default, :precision => 2) %> / mês</strong></p>
	            </div>
	            <ul class="list-group">
		          <li class="list-group-item"><i class="fa fa-check  text-success"></i> Incêdio / Abalroamento / Perda Total</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Roubo e Furto Qualificado</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência e Salvamento a Embarcação</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Acidentes em operação de colocada e retirada da agua</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Proteção Para transporte terrestre</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Proteção para embarcação guarda fora da marina</li>
  	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Fortuna do Mar</li>
  	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Interpérie</li>
  	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Residencial</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Seguro de Vida</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Assistência Pet</li>
	              <li class="list-group-item"><i class="fa fa-check  text-success"></i> Clube de Vantagens</li>
	            </ul>
	            <div class="panel-footer">
					<label class="btn btn-lg btn-block btn-warning">
						<%= f.radio_button  :seguro_plan,  "default", class: 'hidden' %> Selecione
					</label>            
				</div>
	        	</div>
        	</div>


		<%end%>

					<%= f.hidden_field :seguro_preco_default %>
					<%= f.hidden_field :seguro_preco_silver %>
					<%= f.hidden_field :seguro_preco_pro %>



					<%= f.hidden_field :seguro_preco_final %>

		</div>

</div>



<% end %>
