<h3>Selecione o tipo de veículo.</h3>
 
<%= render layout: 'form'  do |f| %>
 





<div class="container ">
<%= f.hidden_field :current_step , :value => 'select_veicle_type'%>

<div class="btn-group btn-group-justified" data-toggle="buttons">

	<div class="panel panel-default col-sm-3">
    	<div class="panel-heading">
        <%= image_tag '/images/sports-car.png' , class: 'image-responsive' %>
    	<h4>Seguro Carro</h4>
      
    	</div>
   		<div class="panel-body fixed-panel">
      		 <p>Proteção completa contra roubo, colisão, incêndio, PT e terceiros para carros até 120 mil reais. Instalação de rastreador sem custo. Assitência 24hs em todo o território nacional.</p>
   		</div>
      <div class="panel-footer">
          <label class="btn btn-warning ">
            <%= f.radio_button  :vei_tipo,  "Carros", class: 'hidden' %> Selecione
            </label>
      </div>
  	</div>

  <div class="panel panel-default col-sm-3">
      <div class="panel-heading">
        <%= image_tag '/images/motorbike.png' , class: 'image-responsive' %>
      <h4>Seguro Moto</h4>
      
      </div>
      <div class="panel-body fixed-panel">
        <p>Proteção completa contra roubo, colisão, incêndio, PT e terceiros para motos até 1000 cilindradas. Instalação de rastreador sem custo adicional. Assitência 24hs em todo o território nacional.</p>
      </div>
      <div class="panel-footer">
       <label class="btn btn-warning ">
            <%= f.radio_button  :vei_tipo,  "Motos", class: 'hidden' %> Selecione
        </label>

      </div>
    </div>
	<div class="panel panel-default col-sm-3 ">
    	<div class="panel-heading">
    		<%= image_tag '/images/truck.png' , class: 'image-responsive' %>
    		<h4>Seguro Caminhão</h4>
    	</div>
   		<div class="panel-body fixed-panel">
        <p>Proteção completa contra roubo, colisão, incêndio, PT e terceiros para vans e caminhões até 250 mil reais. Instalação de rastreador sem custo adicional. Assitência 24hs em todo o território nacional.</p>
      </div>        
      <div class="panel-footer">
       <label class="btn btn-warning ">
            <%= f.radio_button  :vei_tipo,  "Caminhões", class: 'hidden' %> Selecione
        </label>   		
        </div>
  	</div>

	<div class="panel  panel-default col-sm-3">
    	<div class="panel-heading">
    		<%= image_tag '/images/ocean-transportation.png' , class: 'image-responsive' %>
    		<h4> Seguro Nautica</h4>
    	</div>
   		<div class="panel-body fixed-panel">
        <p>Proteção contra avaria, incêndio, perda total com assitência e salvamento. Operação de colocada e retirada da água. Rastreador de alta precisão instalado sem custo adicional.</p>
      </div>
      <div class="panel-footer">
       <label class="btn btn-warning ">
            <%= f.radio_button  :vei_tipo,  "Nautica", class: 'hidden' %> Selecione
        </label> 
   		</div>
  	</div>
  </div>

</div>





<%end%>