<h3>Selecione o tipo de veículo.</h3>
 
<%= form_for @orcamento, :url => wizard_path do |f| %>

  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% @orcamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 


<div class="container ">
<%= f.hidden_field :current_step , :value => 'select_veicle_type'%>

<div class="btn-group btn-group-justified" data-toggle="buttons">

	<div class="panel panel-default col-sm-3">
    	<div class="panel-heading">
        <%= image_tag '/images/sports-car.png' , class: 'image-responsive' %>
    	<h4>Seguro Carro</h4>
      
    	</div>
   		<div class="panel-body fixed-panel">
      		 <p>Proteção completa contra roubo, colisão, incêndio, PT e terceiros para carros até 120 mil reais. Instalação de rastreador sem custo. Assitência 24hs em todo o território nacional.</p>
   		</div>
      <div class="panel-footer">
          <label class="btn btn-warning " required>
            Selecione
            <%= f.submit  'Selecione' , name: 'orcamento[vei_tipo]' , value: 'Carros' , class: 'hidden' %>

            </label>
            
      </div>
  	</div>

  <div class="panel panel-default col-sm-3">
      <div class="panel-heading">
        <%= image_tag '/images/motorbike.png' , class: 'image-responsive' %>
      <h4>Seguro Moto</h4>
      
      </div>
      <div class="panel-body fixed-panel">
        <p>Proteção completa contra roubo, colisão, incêndio, PT e terceiros para motos até 1000 cilindradas. Instalação de rastreador sem custo adicional. Assitência 24hs em todo o território nacional.</p>
      </div>

      <div class="panel-footer">
          <label class="btn btn-warning ">
            Selecione
            <%= f.submit  'Selecione' , name: 'orcamento[vei_tipo]' , value: 'Motos' , class: 'hidden' %>
        </label>      


      </div>
    </div>
	<div class="panel panel-default col-sm-3 ">
    	<div class="panel-heading">
    		<%= image_tag '/images/truck.png' , class: 'image-responsive' %>
    		<h4>Seguro Caminhão</h4>
    	</div>
   		<div class="panel-body fixed-panel">
        <p>Proteção completa contra roubo, colisão, incêndio, PT e terceiros para vans e caminhões até 250 mil reais. Instalação de rastreador sem custo adicional. Assitência 24hs em todo o território nacional.</p>
      </div>        
      <div class="panel-footer">
       <label class="btn btn-warning ">
            Selecione
            <%= f.submit  'Selecione' , name: 'orcamento[vei_tipo]' , value: 'Caminhões' , class: 'hidden' %>

        </label>   		
        </div>
  	</div>

	<div class="panel  panel-default col-sm-3">
    	<div class="panel-heading">
    		<%= image_tag '/images/ocean-transportation.png' , class: 'image-responsive' %>
    		<h4> Seguro Nautica</h4>
    	</div>
   		<div class="panel-body fixed-panel">
        <p>Proteção contra avaria, incêndio, perda total com assitência e salvamento. Operação de colocada e retirada da água. Rastreador de alta precisão instalado sem custo adicional.</p>
      </div>
      <div class="panel-footer">
       <label class="btn btn-warning ">
            Selecione
            <%= f.submit  'Selecione' , name: 'orcamento[vei_tipo]' , value: 'Nautica' , class: 'hidden' %>

        </label> 
   		</div>
  	</div>
  </div>

</div>



<div class="button" >
<%= link_to 'voltar', root_path  %>
</div>

<%end%>