<%= form_for(seguro) do |f| %>
  <% if seguro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seguro.errors.count, "error") %> prohibited this seguro from being saved:</h2>

      <ul>
      <% seguro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_veiculo %>
    <%= f.select :tipo_veiculo, options_for_select([['TIPO'],['Carros'],['Motos'],['Caminhões'],['Nauticas']]) %>
  </div>

  <div class="field">
    <%= f.label :valor_incial %>
    <%= f.text_field :valor_incial %>
  </div>

  <div class="field">
    <%= f.label :valor_final %>
    <%= f.text_field :valor_final %>
  </div>

  <div class="field">
    <%= f.label :preco %>
    <%= f.text_field :preco %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
