<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cotação de Seguro - CoteAuto" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>

        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
        <div> 
    </header>

    <main role="main">
      <div class="container" >
       <%= render 'layouts/messages' %>
          <div class="row">
<div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner clearfix"><div class="wpb_wrapper wt_wpb_wrapper clearfix">
  <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_left-to-right vc_custom_1478020438959 wpb_start_animation">
    
    <figure class="wpb_wrapper vc_figure">
      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="191" height="300" src="http://coteauto.com.br/wp-content/uploads/2014/11/mascote-191x300.png" class="vc_single_image-img attachment-medium" alt="mascote" srcset="http://coteauto.com.br/wp-content/uploads/2014/11/mascote-191x300.png 191w, http://coteauto.com.br/wp-content/uploads/2014/11/mascote-651x1024.png 651w, http://coteauto.com.br/wp-content/uploads/2014/11/mascote.png 682w" sizes="(max-width: 191px) 100vw, 191px"></div>
    </figure>
  </div>
</div></div>
</div>
<div class="col-md-6 text-center" >
          
           <%= yield %>
</div>
         </div>

      </div>
    </main>
  </body>
</html>
