<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cotação de Seguro - CoteAuto" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink="true">
    <header>

        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
        <div> 
    </header>

    <main role="main">
      <div class="container" >
       <%= render 'layouts/messages' %>
        <div class="row text-center" >
          
           <%= yield %>
           
        </div>

      </div>
    </main>
  </body>
</html>
